apiVersion: v1
kind: PersistentVolume
metadata:
  name: esphome-config-pv
  labels:
    app: esphome
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 1Gi
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual-hostpath-esphome
  hostPath:
    path: "/home/travipross/pvc-data/esphome/config"
    type: DirectoryOrCreate