apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: esphome
spec:
  ingressClassName: traefik
  rules:
    - host: esphome.home-server-k3s.lan
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: esphome
                port:
                  name: http
