apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esphome-config
  labels:
    app: esphome
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
