apiVersion: v1
kind: Service
metadata:
  name: esphome
  namespace: iot
spec:
  type: ClusterIP
  selector:
    app: esphome
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: http
