image:
  registry: docker.io
  repository: traefik
  tag: 3.6.6
# WORKING BUT NOT CERTAIN OF QUALITY
providers:
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: true
ingressRoute:
  dashboard:
    enabled: false
api:
  dashboard: true
gateway:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-cloudflare-cluster-issuer
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 8443
      protocol: HTTPS
      namespacePolicy:
        from: All
      certificateRefs:
        - kind: Secret
          name: travisprosser-ca-tls
        - kind: Secret
          name: travisprosser.com-tls

# The below values are copied from those that were used by the k3s-provided traefik chart found at /var/lib/rancher/k3s/server/manifests/traefik.yaml
tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"
service:
  ipFamilyPolicy: "PreferDualStack"
priorityClassName: "system-cluster-critical"
# These conflict with existing annotations written due to .Values.ports.metrics.port and .Values.metrics.prometheus
# deployment:
#   podAnnotations:
#     prometheus.io/port: "8082"
#     prometheus.io/scrape: "true"
