# yaml-language-server: $schema=http://192.168.2.100:5050/api/config/schema.json

# https://docs.frigate.video/configuration/object_detectors/#openvino-detector
detectors:
  ov:
    type: openvino
    device: GPU

# Hardware acceleration
ffmpeg:
  hwaccel_args: preset-vaapi

# https://docs.frigate.video/configuration/object_detectors/#supported-models
# https://docs.frigate.video/configuration/object_detectors/#ssdlite-mobilenet-v2
model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

# Cameras currently sourced from primary frigate server's go2rtc restreams
cameras:
  doorbell:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/doorbell_sub
          roles:
            - detect
    motion:
      mask: 0.001,0.057,0.576,0.061,0.576,0.002,0,0
  driveway:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/driveway_sub
          roles:
            - detect
    motion:
      mask: 0,0.055,0.363,0.057,0.362,0,0,0
  garage:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/garage
          roles:
            - detect
    motion:
      mask: 0,0.066,0.334,0.06,0.335,0,0,0
  catio:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/catio_sub
          roles:
            - detect
    motion:
      mask: 0,0.065,0.373,0.069,0.375,0,0,0.004
  back_yard:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/back_yard_sub
          roles:
            - detect
    motion:
      mask: 0,0.059,0.36,0.059,0.362,0.004,0,0.001
  cat_ptz:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/cat_ptz_sub
          roles:
            - detect
    motion:
      mask: 0,0.054,0.363,0.053,0.362,0,0,0.004
  living_room:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/living_room_sub
          roles:
            - detect
    motion:
      mask: 0,0.065,0.365,0.069,0.365,0,0,0

# No authentication required
mqtt:
  host: mosquitto

# Disable TLS as Frigate will be hosted behind a reverse proxy / ingress
tls:
  enabled: false

# Enable detection for benchmarking
detect:
  enabled: true

# Enable recording to media dir
record:
  enabled: true

# Generated by frigate for config migrations - Do not edit
version: 0.16-0
