apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: frigate-config-longhorn-pvc
  namespace: iot
  labels:
    app: frigate
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
