# yaml-language-server: $schema=http://192.168.2.100:5050/api/config/schema.json

# https://docs.frigate.video/configuration/object_detectors/#openvino-detector
detectors:
  ov:
    type: openvino
    device: GPU

# Hardware acceleration
ffmpeg:
  hwaccel_args: preset-vaapi

# https://docs.frigate.video/configuration/object_detectors/#supported-models
# https://docs.frigate.video/configuration/object_detectors/#ssdlite-mobilenet-v2
model:
  width: 300
  height: 300
  input_tensor: nhwc
  input_pixel_format: bgr
  path: /openvino-model/ssdlite_mobilenet_v2.xml
  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

# Cameras currently sourced from primary frigate server's go2rtc restreams
cameras:
  doorbell:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/doorbell_sub
          roles:
            - detect
  driveway:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/driveway_sub
          roles:
            - detect
  garage:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/garage
          roles:
            - detect
  catio:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/catio_sub
          roles:
            - detect
  back_yard:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/back_yard_sub
          roles:
            - detect
  cat_ptz:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/cat_ptz_sub
          roles:
            - detect
  living_room:
    ffmpeg:
      inputs:
        - path: rtsp://192.168.2.100:8554/living_room_sub
          roles:
            - detect
mqtt:
  host: mosquitto

# Disable TLS as Frigate will be hosted behind a reverse proxy / ingress
tls:
  enabled: false

# Enable detection for benchmarking
detect:
  enabled: true

# Generated by frigate for config migrations - Do not edit
version: 0.16-0
