apiVersion: v1
kind: Service
metadata:
  name: home-assistant
spec:
  type: ClusterIP
  ports:
    - name: web-ui
      port: 8123
      targetPort: 8123
    - name: code-server
      port: 8443
      targetPort: 8443
